

<nav class="navbar navbar-dark bg-danger fixed-top" id="unique1">
    <!-- <div class="container-fluid2"> -->
      <a class="navbar-brand" href="/">BYC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Book Your Cut</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#BookNow">Book Your Slot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" target="_blank" href="https://wa.me/919522192241?text=Hii">Chat with us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/talktous" >Talk to us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" target="_blank" href="https://forms.gle/QAHhrAYEjsJeXhag8">Feedback</a>
            </li>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active" href="/about">About Us</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active" target="_blank" href="https://wa.me/?text=Find%20the%20best%20saloons%20in%20your%20city.%20Compare%20the%20price%20of%20a%20haircut,shave,facial%20etc%20in%20saloons%20near%20you%20within%20a%20minute%20with%20BYC%20(Book%20Your%20Cut)%20in%20Advance.%20CLICK%20:%20%20https://byc2.herokuapp.com/">Share</a>
            </li>
        </div>
      </div>
    </div>
  </nav>


