<%- include("header") -%>
<%- include("nav") -%>

<div class="blank">

</div>

<div class="container-fluid">
    <h1 class="bookh1">  You Slot is successfully booked. </h1>
</div>

<div class="container-fluid">
    <div class="box1">
    <h1 class="h1book"> <span>Note</span> :Kindly Share your feedbacks in feedback section. </h1>
</div>



<%- include("footer") -%>