<%- include("header") -%>
<%- include("nav") -%>

<div class="container-fluid">
    <ul>
        <li class="call"><a href="tel:9522192241"><span class="Num">Line 1</span> : 9522192241 </a></li>
        <li class="call"><a href="tel:9111708455"> <span class="Num">Line 2</span> : 9111708455 </a></li>
    </ul>
</div>











<%- include("footer") -%>
